<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>To Do List</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
  <section class="vh-100" style="background-color: #e2d5de;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">

          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">

              <h6 class="mb-3"><%=listTitle %></h6>

              <form class="d-flex justify-content-center align-items-center mb-4" action="/" method="post">
                <div class="form-outline flex-fill">
                  <input type="text" id="form3" class="form-control form-control-lg" name="newItem"
                    placeholder="What do you need to do today?">
                </div>
                <button type="submit" class="btn btn-primary btn-lg ms-2" name="list" value="<%= listTitle %>">Add</button>
              </form>

              <ul class="list-group mb-0">
                <form action="/delete" method="post">
                <% newListItems.forEach(function(item){%>
                  <li
                    class="list-group-item d-flex justify-content-between align-items-center border-start-0 border-top-0 border-end-0 border-bottom rounded-0 mb-2">
                    <div class="d-flex align-items-center">
                      <input class="form-check-input me-2" type="checkbox" name="checkbox" value="<%=item._id%>" aria-label="..." onChange="this.form.submit()"/>
                      <span>
                        <%=item.name%>
                      </span>
                    </div>
                    <a href="#!" data-mdb-toggle="tooltip" title="Remove item">
                      <i class="fas fa-times text-primary"></i>
                    </a>
                  </li>
                  <%})%>
                  <input type="hidden" name="listName" value="<%=listTitle%>">
                </form>
              </ul>

            </div>
          </div>

        </div>
      </div>
      <p class="text-center">© 2022 Xiaoyi Li</p>
    </div>
  </section>
</body>


</html>